label{
	display: block;
	padding-top: 20px;
}

#button{
	display: block;
	margin: 50px;
}
#info{
	display: inline-block;
	background-color: ;
	width: 300px;
	margin-top: 30px;
}
#cards{
	width: 250px;
	display: inline-block;
	background-color:;
	margin-left: 30px;
	vertical-align: top;
	
}

#cards div{
	border: 2px solid black;
	text-align: center;
	height: 150px;
}
#bio{
	display: none;
	text-align: center;
	padding-top: 30px;
}